header.header-repos {
    width: 100%;
    display: flex;
    align-items: baseline;
    background: #1F1F1F;
    padding: 0px 0px 20px 0px;
}
h2.qtd-repos {
    width: 375px;
    text-align: center;
}
a.botao-voltar {
    color: red;
    padding: 10px;
    font-size: 1.2em;
    height: 15px;
}
a.botao-voltar:hover {
    color: #ff4040;
}
ul.lista-repos {
    list-style: none;
    padding-left: 20px;
    width: 100%;
}

h3.repo-name {
    color: white;
    font-weight: bold;
}
.descricao-repositorio {
    color: #c4c4c4;
}
svg {
    font-size: 30px;
    display: flex;
    align-items: center;
}