.info-repositorios-usuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #5252525D;
    width: 375px;
}
h2.title-bio {
    padding: 20px;
}
p.title-usuario {
    font-size: 1.3em;
}