.div-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #292929;
    width: 100%;
}
button.ui.button {
    background: #FFCE00;
    color: black;
    width: 181px;
}
.fields.logo {
    justify-content: center;
    margin-bottom: 20px !important;
}
